*{
    margin: 0%;
    box-sizing: border-box;
    padding: 0%;
    font-family: sans-serif;
}
body{
    background-image: url('wallpaperflare.com_wallpaper (13).jpg');
    background-size: cover;
}

header{
    display: flex;
    justify-content: space-between;
    background-color:rgba(255, 255, 255, 0.592);
    color:black;
    padding: 10px 20px;
}
nav li{
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    font-size: larger;
}
ul li a:hover{
    color:skyblue;
}
ul li a{
    text-decoration: none;
    background-color:black;
    padding:10px;
    border-radius: 20px;
    color:aliceblue
}
.para{
    font-weight: bold;
    font-family: 'Times New Roman', Times, seri;
    font-size: 25px;
    text-align: justify;
    padding: 10px 20px;

}
.sign-up {
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    background: #fff;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
}

.sign-up h1 {
    color: #1cdb65;
    margin-bottom: 30px;
}

.input-box {
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #999;
    outline: blue
}

button {
    color: #000;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font: size 15px;
    margin: 10px 0;
    cursor: pointer;
}

.signup-btn {
    background-color: #1cdb5f;

}
